.servicepara{
  
font-family: 'Kanit';
font-size: 18px;
font-weight: 300;
line-height: 19px;


}
.serviceheading{
  
font-family:' Kanit';
font-size: 64px;
font-weight: 500;
line-height: 59px;

}
.headingpara{
   
font-family: 'Kanit';
font-size: 44px;
font-weight: 500;
line-height: 59px;


}
.servicecontent
{
    padding: 2rem;
    border-top: 1px solid #807F7F;
}
.serviceimg{
height: 56rem;

}
.serviceimage{
    width: 20rem;
    height: 56rem;
}
.last
{
    border-bottom: 1px solid #807F7F;

}
@media only screen and (max-width: 1400px) {
    .headingpara{
   
        font-family: 'Kanit';
        font-size: 32px;
        font-weight: 500;
        line-height: 59px;
        
        
        }
}
@media only screen and (max-width: 992px) {
    .headingpara{
   
        font-family: 'Kanit';
        font-size: 24px;
        font-weight: 500;
        line-height: 20px;
        
        
        }
   
   .serviceimage{
    display: none;
   }
   .serviceimg{
    display: none;
   }
   .servicepara{
    text-align: center;
   }
   .serviceheading{
    text-align: center;
   }
   .headingpara{
    text-align: center;
   }
   .serviceheading{
    text-align: center;
   }
   .centerbutto{
    text-align: center  ;
   }
   .servicecontent{
    /* border: none; */
    padding: 0;
    
   }
   .serviceheading{
    font-size: 32px;
    line-height: 20px;
   }
   .servicepara{
    font-size: 8px;
    line-height: 10px;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
   }
}
@media only screen and (max-width: 992px) {
.spsize{
    font-size: 1rem;
    line-height: 2rem;
}}