.maincontainer
{

    background-color: #121212;
}

.partnerss
{
   color:  #FFFFFF;
   ;
font-family: 'Kanit';
font-size: 32px;
font-weight: 500;
line-height: 43px;
background-color: #121212;

}
.widthclass{
    width: 20%;
    height: 8rem;
    /* border: 1px solid #999999; */
    border: 1px solid #807F7F;

    display: flex;
    justify-content: center;
    align-items: center;
    
}