.stepsheading{
   
font-family: 'Kanit';
font-size: 64px;
font-weight: 500;
line-height: 59px;
padding: 3rem;
margin-left: 3rem;
}
.rectangle1image
{
    width: 15rem;
    height: 17.5rem;

}
.rectangle2{
    width: 80rem;
height: 65.375rem;


}
.stepPara{
   
font-family: 'Kanit';
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align:justify;
}
.stepbutto
{
    width: 12rem;
    margin-left: 3rem;
}