
.stepsheading{
   
font-family: 'Kanit';
font-size: 59px;
font-weight: 500;
line-height: 59px;
/* padding-right: 3rem; */
padding-top: 3rem;
padding-bottom: 3rem;
/* margin-right: 11rem; */
/* padding-left: 5rem; */
}
.stepheight{
    height: 35rem;

}
.rectangle1image
{
    /* width: 15rem;
    height: 17.5rem; */
    width: 240px;
height: 280px;



}
.rectangle2{
    width: 80rem;
height: 65.375rem;


}
.stepPara{
   
font-family: 'Kanit';
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align:justify;
}
.stepbutto
{
    width: 12rem;
    margin-left: 3rem;
}
@media only screen and (max-width: 992px) {
    .calflex{
        display: flex;
        justify-content: center !important  ;
    }
    .stepheight{
        align-items: center !important;
    }
    .stepsheadingflex{
        justify-content: space-between !important;
    }
    .stepsheading{
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 0;
        font-size: 2rem;
        line-height: 20px  ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rectangle1image {
        width: 15rem;
        height: 15rem;
    }
    .rectangle2image{
        width: 15rem;
        height: 15rem;
    }
    .steppaddingremove{
        padding: 0 !important;
        margin: 0;
    }
    .stepPara{
        font-size: 8px;
        line-height: 10px;
        padding-bottom: 2rem;
    }
    .stepbutto{
        margin: 0;
        padding: 0;
    }
    .rectangle2{
        width: 80rem;
    height: 65.375rem;
    
    
    }
}
@media only screen and (max-width: 520px) {
.stepsheading{
    font-size: 1rem;
}
.stepPara{
    font-size: 7px;
    padding: 1rem;
}
.rectangle1image {
    /* padding-top: 2rem; */
    width:100%;
  
}
.rectangle2image{
 width: 100%;
}
.stepheight {
    height: 20rem;
}
.stepbutto
{
  
    margin-left: 0rem;
}
}