.container-fluid{
    background-color: #121212;
  

margin: 0;
padding: 0;
box-sizing: border-box;

}

.one{
    width: 20%;
   height: 4.313rem;
    border: 1px solid #807F7F;
    padding-left: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Kanit';
font-size: 26px;
font-weight: 400;
line-height: 16px;


    


}
.two
{
   padding-left: 1.5rem;
    height: 4.313rem;
    border: 1px solid #807F7F;
    display: flex;
justify-content: start;
align-items: center;
font-family: 'Kanit';
font-size: 26px;
font-weight: 400;
line-height: 16px;


}
.divwidth1{
    width: 18%;}

    .divwidth2{
        width: 20%;}
        .divwidth3{
            width: 20%;}
            .divwidth4{
                width: 20%;}
                .divwidth5{
                    width: 22%;}


 @media only screen and (max-width: 768px) {
.technology{
    font-size: 14px;
}
 }
 @media only screen and (max-width: 480px) {
.technology{
    font-size: 8px;
}
 }