.container-fluid{
    background-color: #121212;
  

margin: 0;
padding: 0;
box-sizing: border-box;

}

.one{
    width: 20%;
   height: 4.313rem;
    border: 1px solid #807F7F;
    padding-left: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Kanit';
    /* font-size: clamp(1.125rem, 1.025rem + 0.5vw, 1.625rem); */
    /* font-size: clamp(0.875rem, 0.725rem + 0.75vw, 1.625rem); */
    font-size: clamp(0.625rem, 0.425rem + 1vw, 1.625rem);
font-weight: 400;
line-height: 16px;


    


}
.two
{
   padding-left: 1.5rem;
    height: 4.313rem;
    border: 1px solid #807F7F;
    display: flex;
justify-content: start;
align-items: center;
font-family: 'Kanit';
/* font-size: clamp(1.125rem, 1.025rem + 0.5vw, 1.625rem); */
/* font-size: clamp(0.875rem, 0.725rem + 0.75vw, 1.625rem); */
font-size: clamp(0.625rem, 0.425rem + 1vw, 1.625rem);
font-weight: 400;
line-height: 16px;


}
.divwidth1{
    width: 18%;}

    .divwidth2{
        width: 20%;}
        .divwidth3{
            width: 20%;}
            .divwidth4{
                width: 20%;}
                .divwidth5{
                    width: 22%;}




 @media only screen and (max-width: 480px) {
.one{
    padding-left: .2rem !important;
}
.two{
    padding-left: .2rem !important;

}
 } 