.Brandpara{
    
font-family: 'Kanit';
font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
font-weight: 300;
/* line-height: 19px; */
line-height: 1.2;


}
.BrandMargin{
    /* padding-left: 3rem; */
}
.brandheading{

font-family: 'Kanit';
font-size: clamp(1.25rem, 0.7rem + 2.75vw, 4rem);
font-weight: 500;
line-height: 1.1;

}
.brandwith{
    /* width: 14.28%; */
    /* height: 12rem; */

    /* border: 1px solid #999999; */
    border-top: 1px solid #807F7F;

    display: flex;
    justify-content: center;
    align-items: center;
}
.brandimage{
    width: clamp(130px, 111.5652px + 5.7609vw, 183px);
    height: clamp(130px, 111.5652px + 5.7609vw, 183px);
    /* width: 120px;
    height: 120px; */
    border-top: 1px solid #807F7F;
    border-left: 1px solid #807F7F;
    /* border-left: 1px solid #807F7F; */
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: luminosity;

}
.lb{
    border-right: 1px solid #807F7F;
}
.borderbottom {
    /* border-bottom: 1px solid #807F7F; */
    
}

@media only screen and (min-width: 1400px) {
    .bb{
    border-bottom: 1px solid #807F7F;

    }
    .brandmargin{
        margin: 0 !important;
    }
    /* .brandimage{
        width: 183px;
        height: 183px;
    } */
}
@media only screen and (max-width: 1399px) {
    .bb{
        border-bottom: 1px solid #807F7F;
    
        }
        /* .brandimage{
                width: 120px;
    height: 120px;
        } */
}

@media only screen and (max-width: 1200px) {
    .bb{
        border-bottom: 1px solid #807F7F;
    
        }
        .borb{
        border-bottom: 1px solid #807F7F;

        }
        .borr{
        border-right: 1px solid #807F7F;

        }
        /* .brandimage{
            width: 110px;
            height: 110px;
        } */
}
@media only screen and (max-width: 992px) {
    .br{
        border-right: 1px solid #807F7F;

    }
    /* .brandimage{
        width: 80px;
        height: 80px;
    } */
    /* .brandimage{
        width:100%;
    } */
    .brandheading{
    /* font-size: 20px; */
    text-align: center;
    /* line-height: 20px; */
    }
    .Brandpara{
    
        text-align: center;
    }
    /* .brandmargin{
        margin: 0 !important;
    } */
}