.Brandpara{
    
font-family: 'Kanit';
font-size: 18px;
font-weight: 300;
/* line-height: 19px; */



}
.BrandMargin{
    padding-left: 3rem;
}
.brandheading{

font-family: 'Kanit';
font-size: 64px;
font-weight: 500;
line-height: 59px;

}
.brandwith{
    /* width: 14.28%; */
    /* height: 12rem; */

    /* border: 1px solid #999999; */
    border-top: 1px solid #807F7F;

    display: flex;
    justify-content: center;
    align-items: center;
}
.brandimage{
    /* width: 14.28%;
    height: 12rem; */
    width: 120px;
    height: 120px;
    border: 1px solid #807F7F;
    /* border-left: 1px solid #807F7F; */
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: luminosity;

}
.borderbottom {
    /* border-bottom: 1px solid #807F7F; */
    
}

@media only screen and (max-width: 992px) {
    .brandimage{
        width:100%;
    }
    .brandheading{
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    }
    .brandpara{
        font-size: 24px;
        text-align: center;
    }
}