.backgroundimg{
    background-image: url('../../public/background.svg');
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;    
height:44.375rem;
/* height: 870px; */
width: 100%;

padding: 0;


   

}
.backgroundul{
    list-style: none;
  font-size: 14px;
  margin-left: 8rem;
}
.backroundli{
    /* padding-right: 1rem;
    padding-left: 1rem; */
}