
@font-face {
    font-family: "Tusker";
    src: local("Tusker"),
      url("../fonts/Tusker.ttf") format("opentype");
    font-weight: bolder;
  }
.digitalheading{
    font-family: "kanit" !important;

    /* line-height: 150px; */

    font-weight: 600;
    /* font-size: 4.8rem; */
    /* font-size: clamp(50px, 7.5vw, 120px) !important; */
    /* font-size: clamp(7rem, 5.84rem + 5.8vw, 12.8rem); */
    font-size: clamp(1rem, 0.64rem + 1.8vw, 2.8rem);

}
.Artists{
    /* font-family: "kanit" !important; */
    font-family: "Tusker" !important;
    /* line-height: 200px; */
    font-weight: 900;
    /* font-size: 12rem; */
    /* font-family: 'Space Grotesk', sans-serif !important; */
    /* font-size: clamp(80px, 7.5vw, 192px) !important; */
    font-size: clamp(15rem, 12.6rem + 12vw, 27rem);
    /* text-transform: uppercase;
    padding-left: 15px;
    margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    position: relative;
    display: inline-block;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    transform: translate(0px, 0px);
    margin: 0;
    display: inline-block;
    font-size: clamp(40em, 2.5vw, 40em);
    font-size: clamp(90px, 14.06vw, 270px) !important;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    transform-origin: bottom;
    transition: .3s all;
    letter-spacing: 5px;
    --fontHeight: 100;
    font-variation-settings: "hght" var(--fontHeight), "wdth" 1; */
}


.mountainbg{
    background-color: black !important;
}
.backgrouimg {
    height: 5rem;
    padding-left: 1rem;
}
.bgnav{
    height: 6rem;
}
.backgroundimg{
    background-image: url('../../public/background.png');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;    
height: 42.800rem;
width: 100%;

padding: 0;

background-color: transparent !important;
   

}
.backgroundul{
    list-style: none;
    font-family: 'Kanit';
    /* font-size: 18px; */
    /* font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem); */
    /* font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem); */
    font-size: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
    font-weight: 600;
    line-height: 26px;
  height: 5rem;
  /* margin-left: 8rem; */
}




@media only screen  and (min-width: 1400px )and(max-width:1474px) {
.backgroundli{
    font-size: 16px !important;
}
}

@media only screen and (min-width: 1475px) {
    .bgnav{
        padding-right: 1rem;
    }
.backgroundul{
    font-family: 'Kanit';
font-size: 18px;
font-weight: 600;
line-height: 26px;
padding-left: 0 !important;
justify-content: space-between !important;
}
}
@media only screen and (max-width: 992px) {
    /* .backgrouimg {
       display: none;
    } */
    .bgnav{
        align-items: start !important;
     
    }
    /* .backroundli{
    font-size: 14px;
    
    } */
    
}
@media only screen and (max-width: 540px) {
    .backgroundul{
        padding-left: 0 !important;
    }
}
