.navone{
    font-family: 'Kanit';
font-size: 15px;
font-weight: 600;
line-height: 26px;


}
.navtwo{

font-family: 'Kanit';
font-size: 12px;
font-weight: 400;
line-height: 21px;


}
.navthree{
    border-right:1px solid #807F7F; ;
}
.bar
{
    background: linear-gradient(-90deg, #000000 -45.54%, #49247A 102.32%);
    margin: 0   ;
height: 3.75rem;




}
p{
    margin: 0;
}

.pone
{
   
    font-family: 'Kanit';
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    
    

}
.ptwo
{
  
    font-family:' Kanit';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;



}
.pthree
{
    width: 20px;
margin-left: 1rem;

}
/* .bord{
    border-right: 1px solid white;


   
} */
@media only screen and (max-width: 1132px) {
    .mainnavhead
    {
        height: 6rem;
        width: 100%;
    }
    .resone{
        display: flex;
        justify-content: center !important;
        align-items: start !important;
        padding: 0;
        margin: 0;


   } 
   .pthree{
    display: none;
   }
}

@media only screen and (max-width: 768px) {
    .pone{
        font-size: 1rem;
       
    }
    .ptwo{
        font-size: .8rem;
    }
  
    .pthree
    {
        margin: 0;
        padding: 0;
        display: none;
    }
}
@media only screen and (max-width: 360px) 
{
    .pone{
        font-size: 0.9rem;
        
    }
    .ptwo{
        font-size: .7rem;
    }
  
    .pthree
    {
        margin: 0;
        padding: 0;
        display: none;
    }
}