.hearheading{
   
font-family: 'Kanit';
font-size: 64px;
font-weight: 500;
line-height: 59px;
text-align: center;

}
@media only screen and (max-width: 992px) {
    .hearheading{
        font-size: 2rem;
    line-height: 30px;
    }
}