.contactfooterimage{
    background-image: url('../../public/Rectangle 1786.png');
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;    
    height: 35rem;
    /* width: 100%; */
}
.footlength{
    height: 42rem !important;
}
.contactfooterheading{
    font-family: 'Kanit';
font-size: 20px;
font-weight: 500;
line-height: 32px;
/* padding: 1rem; */


}
.contactfooterpara2{

    font-family: 'Kanit';
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    color: #ADADAD;
    
    }
.contactfooterpara{

font-family: 'Kanit';
font-size: 10px;
font-weight: 300;
line-height: 19px;
color: #ADADAD;

}
.contactimage{
    width: 5rem;
    height: 1rem;
}
.footerbutton{
    height: 24.5rem;
    /* background-color: rgba(153,153,153,0.8); */
/* background-color: #212121; */
background-color: #212121;
opacity: 0.8;
}
.rightspara{
  
font-family: 'Kanit';
font-size: 12px;
font-weight: 400;
line-height: 21px;
color: #ADADAD;


}
.formclassfooter{
    
    background-color: #212121;
    width: 25rem !important;
}
.formfooter

{
    padding: .5rem;
    background-color: #212121;
    border: none;
}
.footerrightsborder{
    border-top: 1px solid #807F7F;
  
    
    

}
.contactfooterposition{
    z-index: -1;
    position: relative;

}
.contactfooterrow{
    position: absolute;
    bottom: 0px;

    background-color: black;
    /* padding: 1rem; */
}

@media only screen and (min-width: 1400px) {
    .lineheight{
        line-height: 10px;
    }
    .contactfooterrow{
        max-width: 1600px !important;
    }
}
@media only screen and (max-width: 1200px) {
    .formclassfooter{
        width: 21rem !important;
    }
    .formfooter{
        width: 18rem !important;
    }
    .contactfooterpara2{

        font-family: 'Kanit';
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        
        
        }
    .contactfooterpara{
    
    font-family: 'Kanit';
    font-size: 10px;
    font-weight: 300;
    line-height: 19px;
    
    
    }
}
@media only screen and (max-width: 992px) {
    .rightspara{
        font-size: 8px;
    }
    .formclassfooter{
        width: 14rem !important;
    }
    .formfooter{
        width: 10rem !important;
    }
    .contactfooterheading{
        font-family: 'Kanit';
    font-size: 14px !important;
   
    
    
    }
    .contactfooterpara{
    
        font-family: 'Kanit';
        font-size: 8px !important;
      
        
        
        }
    .contactfooterpara2{
    
        font-family: 'Kanit';
        font-size: 8px !important;
      
        
        
        }
        .contactus{
            padding-top: 1rem;
        }
    .contactfooterheading{

    }
     .contactfooterposition{
        /* display: none;
        position: none; */
    }
    .contactfooterrow{
        /* margin-top: auto;
        position: none  ;
        bottom: 0; */
    }
    .formclassfooter{
        display: none;
    }
    /* .footerrightsborder{
        display: none;
        border: none;
    }
    .contactfooterform{
        display: none;
        padding: 0;
        margin: 0;
    }
    .contactimage{
        display: none;
    }
    .formclassfooter{
        display: none;
    }  */
  
}
@media only screen and (max-width: 764px) {
    .footlength{
        display: none;
    }
    .coldisplay
    {
        display: none;
    }
    .contactfooterform{
        justify-content: center !important;
    }
    .formclassfooter{
        width: 100% !important;
    }
    .formfooter{
        width: 100% !important;
    }
    .rightspara{
        display: none;
    }
    .contactfooterheading{
        display: none;
    }
    .contactfooterpara{
        display:none;
    }
    .contactimage{
        display: none;
    }
}