.contactfooterimage{
    background-image: url('../../public/Rectangle 1786.png');
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;    
    height: 35rem;
    /* width: 100%; */
}
.contactfooterheading{
    font-family: 'Kanit';
font-size: 20px;
font-weight: 500;
line-height: 32px;
/* padding: 1rem; */


}
.contactfooterpara{

font-family: 'Kanit';
font-size: 12px;
font-weight: 300;
line-height: 19px;


}
.contactimage{
    width: 5rem;
    height: 1rem;
}
.footerbutton{
    height: 23.5rem;
    /* background-color: rgba(153,153,153,0.8); */
/* background-color: #212121; */
background-color: #212121;
opacity: 0.8;
}
.rightspara{
  
font-family: 'Kanit';
font-size: 12px;
font-weight: 400;
line-height: 21px;


}
.formclassfooter{
    background-color: #212121;
}
.formfooter

{
    padding: .5rem;
    background-color: #212121;
    border: none;
}
.footerrightsborder{
    border-top: 1px solid #807F7F;
  
    
    

}
.contactfooterposition{
    z-index: -1;
    position: relative;

}
.contactfooterrow{
    position: absolute;
    bottom: 0px;

    background-color: black;
    /* padding: 1rem; */
}
@media only screen and (max-width: 992px) {
     .contactfooterposition{
        /* display: none;
        position: none; */
    }
    .contactfooterrow{
        /* margin-top: auto;
        position: none  ;
        bottom: 0; */
    }
    .formclassfooter{
        display: none;
    }
    /* .footerrightsborder{
        display: none;
        border: none;
    }
    .contactfooterform{
        display: none;
        padding: 0;
        margin: 0;
    }
    .contactimage{
        display: none;
    }
    .formclassfooter{
        display: none;
    }  */
  
}