*{
    margin: 0;
    padding: 0;
    box-sizing: border-box}
.container-fluid
{
    background-color: #121212;
    color: white;
}
.line
{
    border-left: 1px solid #999999;
    height: 8rem;
    margin-left: 5rem;
}
.firstpara
{
font-family: 'Kanit';
font-size: 18px;
font-weight: 300;
line-height: 19px;

}
.secondpara{
font-family: 'Kanit';
font-size: 64px;
font-weight: 500;
line-height: 59px;

}
.butto{
    width: 9.5rem;
    height: 9.5rem;
  

  
font-family: 'Kanit';
font-size: 16px;
font-weight: 500;
line-height: 16px;


}
.btn{
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    border:1px solid white;
    color: white;
}
.paragraph{
    height: 18rem;
    border-left:1px solid #999999;
    margin-left: 5rem;

}
.onepara{
    height: 10rem;
  
font-family: 'Kanit';
font-size: 14px;
font-weight: 400;
line-height: 21px;
border: none;

}
.twopara{
    height: 10rem;
   border: none;
font-family: 'Kanit';
font-size: 14px;
font-weight: 400;
line-height: 21px;


}