    .bordertop{
        border-top: 1px solid #807F7F;
    }
    .cardsheading{
        text-align: center;

    font-family: 'Kanit';
    font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
    font-weight: 500;
    line-height: 1.1;

    }
    /* .cardbody{
        width: 390px !important;
        height: 153px !important;
    } */
    .cardspara{
    
    font-family: 'Kanit';
    font-size: clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem);
    font-weight: 400;
    line-height: 1.2;
    color:  #999999;



    }
    .cardbodypara{
    
    font-family: 'Kanit';
    font-size: clamp(0.5rem, 0.425rem + 0.375vw, 0.875rem);
    font-weight: 400;
    line-height: 1.2;
    color:  #999999;

    }
    .cardbodyheading{

    font-family: 'Kanit';
    font-size: clamp(0.625rem, 0.35rem + 1.375vw, 2rem);
    font-weight: 500;
    line-height: 1.1;
    /* border-bottom: 1px solid #807F7F; */

    }
    .card-body{
        padding: 0;
    }
    .cardHeading{
        height: 9rem;
    }
    .rectanglewidth
    {
        width: 100%;
    }
    .Cardpadding{
        padding: 1.5rem;
     
    }
    @media only screen and (min-width: 1400px) {
        .cardspara{
/* font-family: 'Kanit';
font-size: 14px;
font-weight: 400;
line-height: 21px; */
color:  #999999;


}
.cardbodypara{
/* font-family: "Kanit";
font-size: 14px;
font-weight: 400;
line-height: 21px; */
color:  #999999;


}
/* .cardbodyheading{
font-family: "Kanit";
font-size: 32px;
font-weight: 500;
line-height: 43px;


} */
    }
    @media only screen and (max-width: 992px) {
        /* .bordertop{
            margin-top: 2rem;
        } */
        .cardbodyheading{
        }
        /* .cbp{
            padding-bottom: 2.7rem !important;
        } */

        /* .cardsheading{
            line-height: 48px;
        } */
    }
    
